{% extends "base.html" %}
{% block title %}
    Welcome to the Trade Arena!
{% endblock %}

{% block content %}
    <div class="container-fluid text-left">
        <div class="row">
            <div class="col-8">
                <p class="h1">Welcome to the Trade Arena!</p>
                <p class="h4">Compete with your friends by trading crytocurrencies in virtual money!</p>
                 <p class="lead">Practice your trading skills, with no risk involved!</p>
            </div>
            <div class="col" id="cheds-quote">
                <figure class="text-start">
                    <blockquote class="blockquote">
                    <p>Be a cold-calculated sniper, focused at the mission at hand.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                    BigCheds in his book <cite title="Source Title">Trading Wisdom</cite>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
    
{% endblock %}